.noteContainer {
  text-decoration: none;
}

.noteList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 540px;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 32px;
  word-break: break-word;
}

.noteListTitle {
  font: var(--headline4);
  color: var(--black);
}

.note {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  background: var(--grey);
}

.noteTitle {
  font: var(--headline4);
  color: var(--black);
}
.noteTitleVisibility {
  font: var(--body2-bold-default);
  text-transform: uppercase;
}

.noteDesc {
  font: var(--body1-regular-default);
  color: var(--grey-10);
}
