.emptyContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  margin-top: 56px;
}

h3 {
  font: var(--headline2);
}

@media screen and (max-width: 425px) {
  .emptyNotesImg {
    width: 100%;
  }
}
