:root {
  ---white: #fffffe;
  --grey-10: #444444;
  --black: #1a1a1a;
  --grey-05: #999999;
  --orange: #f3be7b;
  --grey-20: #272822;
  --grey-01: #efefef;
  --orange-2: #ff6e6c;
  --purple: #1f1135;
  --grey: #e2daeb;
  --headline1: 700 3rem/3.375rem Inter;
  --headline2: 700 2.375rem/2.700000047683716rem Inter;
  --headline3: 700 2rem/2rem Inter;
  --headline4: 700 1.5rem/1.649999976158142rem Inter;
  --headline5: 700 1.25rem/1.649999976158142rem Inter;
  --body1-regular-default: 400 1.1875rem/1.7999999523162842rem Inter;
  --body1-regular-underline: 400 1.1875rem/1.7999999523162842rem Inter;
  --body1-bold-default: 700 1.1875rem/1.7999999523162842rem Inter;
  --body1-bold-underline: 700 1.1875rem/1.7999999523162842rem Inter;
  --body2-regular-default: 400 1rem/1.5rem Inter;
  --body2-regular-underline: 400 1rem/1.5rem Inter;
  --body2-bold-default: 700 0.875rem/1.5rem Inter;
  --body2-bold-underline: 700 0.875rem/1.5rem Inter;
  --button-regular: 400 1rem/1.5rem Inter;
  --button-bold: 700 1rem/1.5rem Inter;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
  gap: 24px;
  margin-top: 32px;
}

.textarea {
  padding: 16px 12px;
  height: 100%;
  resize: none;
  background: #e2daeb;
  font: var(--body1-regular-default);
}

.content {
  gap: 16px;
  max-width: 100%;
  overflow-x: auto;
  font: var(--body1-regular-default);
  color: var(--black);
}

.content h1 {
  font: var(--headline2);
}

.content h2 {
  font: var(--headline3);
}
.content h3 {
  font: var(--headline4);
}

.content a {
  color: var(--black);
  font: var(--body1-bold-underline);
}

.content img {
  width: 100%;
}
